<section id="land" class="parallax text-center">
  <div class="container">
    <div class="row">
     <div class="col-sm-12 block">       
      <div id="top_slider">                               
       <div class="bx-wrapper">
         <ul class="bxslider">
           <li>
            <h4 class="fs_title">QN FC Home Page</h4>
            <p class="fs_description">I still dont even know how to design a slider</p>
          </li>
       </ul></div>
       </div>
     </div>
   </div>
 </div>
</div>  
<a class="next_section" href="#about"></a>   
</section>