<section id="about" class="">
  <div class="container">    
    <div class="row ">
      <div class="col-sm-6 col-sm-offset-3">   
	     <h3 class="head-title text-center to_animate" data-animation="slideDown">QN FC</h3>  
	      <hr class="title-border">
	      <p class="text-center to_animate" data-animation="fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>
      </div>
	</div>
	<div class="row">
      <div class="block col-sm-8 to_animate" data-animation="fadeInLeftBig">    
        <h3 class="content-title text-center"><strong>Our Story</strong></h3>
        <p>
			<strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
		</p>
          <p>              
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>             
      </div> 
      <div class="col-sm-4 to_animate text-center" data-animation="fadeInRightBig">
		<div id="carousel-fullwidth" class="carousel slide block">    
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-fullwidth" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-fullwidth" data-slide-to="1"></li>
                <li data-target="#carousel-fullwidth" data-slide-to="2"></li>
            </ol>  
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("land.jpg", :alt => "QN FC") %>
                </div>
                <div class="item">
                    <%= image_tag("land.jpg", :alt => "QN FC") %>
                </div>
                <div class="item">
                   <%= image_tag("land.jpg", :alt => "QN FC") %>
                </div>
            </div>
        </div>
      </div>
    </div>   
  </div>
</section>