<section id="subscribe" class="color_section parallax">
        <div class="container">
            <div class="row">
             	<div class="col-sm-12 text-center">
	                <h3 class="parallax-title text-center to_animate" data-animation="slideDown">Register New Member</h3>       
	                <hr class="parallax-border to_animate" data-animation="fadeInUp"> 
        		</div>
	            </div>
	        <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="signup" class="text-center to_animate" data-animation="fadeInUp" action="/" method="get">
                        <div class="form-group">
                            <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your email address">
                        </div>
                        <button type="submit" class="theme_btn2">Singup</button>
                        <div id="response"></div>
                    </form>
                </div>
               
            </div>
        </div>
</section>