<section id="some-fact" class="color_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="parallax-title text-center to_animate" data-animation="slideDown">We are happy if you become richer with our help</h3>       
                <hr class="parallax-border to_animate" data-animation="fadeInUp"> 

            </div>
        </div>
     		<div class="row">

				<div class="col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
					<div class="single_teaser icons style2">
						<h3>Members</h3>
						<h2 class="counter" data-from="0" data-to="2500" data-speed="2500">13</h2>					
					</div>
				</div>

				<div class="col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
					<div class="single_teaser icons style2">
						<h3>Won</h3>
						<h2 class="counter" data-from="0" data-to="650" data-speed="1500">14</h2>						
					</div>
				</div>

				<div class="col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">

					<div class="single_teaser icons style2">
						<h3>Draw</h3>
						<h2 class="counter" data-from="0" data-to="5780" data-speed="1200">1</h2>					
					</div>
				</div>

				<div class="col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
					<div class="single_teaser icons style2">
						<h3>Lose</h3>
						<h2 class="counter" data-from="0" data-to="3400" data-speed="2100">5</h2>					
					</div>
				</div>
			</div>

    </div>
</section>
